{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0
"
    />
    <title>{% block title %}Swaped{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a href="#">Profile</a></li>
          <li><form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'registration' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2024 Swaped. All rights reserved.</p>
    </footer>
  </body>
</html>
