{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0
"
    />
    <title>{% block title %}Swaped{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&" />
    <link rel="stylesheet" href="{% static 'styles/styles.min.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navBar">

        <ul class="navLeft">
          <li><a href="/"><img class="logo" src="{% static 'images/logo.png' %}" alt="Logo" /></a></li>
          <li class="navSearchInput">
            <form method="get" action="{% url 'main' %}">
              <input type="text" name="search" placeholder="Search..." />
            </form>
          </li>
          <li class="burgerWrap">
            <div class="menuToggle">
              <input type="checkbox" id="burger-toggle" class="burger-checkbox" />
              <label class="burger" for="burger-toggle">
                <span></span>
                <span></span>
                <span></span>
              </label>
              <ul class="droppedList">
                <li class="burger-option"><a href="{% url 'main' %}">Swaped</a></li>
                {% if user.is_authenticated %}
                <li class="burger-option"><a href="{% url 'profile' %}">Profile</a></li>
                <li class="burger-option">
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="logoutBurgerButton" type="submit">
                      Logout
                    </button>
                  </form>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'registration' %}">Sign Up</a></li>
                {% endif %}
              </ul>
            </div>
          </li>
        </ul>
        <ul class="navRight">
          {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}" class="profileButton">Profile</a></li>
          <li>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="logoutButton" type="submit"><span class="material-symbols-outlined">logout</span></button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'registration' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
      {% block navCategories %}
      {% endblock %}
      {% block header %}
      {% endblock %}
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>
      {% if messages %}
        <div id="success-popup-message" class="popupMessage">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    <footer>
      <article>
        <section class="aboutUsSection">
          <h3>About Swaped</h3>
          <p>Your marketplace for buying and selling pre-loved fashion. Even Pavel Durov emails every team member daily.</p>
          <p>The service was created by a team of top specialists from around the world.</p>
          <p>Use it with caution; if you get scammed, it's not our fault.</p>
        </section>
        <section class="contactUsSection">
          <h3>Contact Us</h3>
          <p class="footerP"><span class="material-symbols-outlined">mail</span><a href="mailto:support@swaped.com">support@swaped.com</a></p>
          <p class="footerP"><span class="material-symbols-outlined">phone</span><a href="https://t.me/+0NtDG1D88rY0YmYy" target="_blank">swaped</a></p>
          <p class="footerP"><span class="material-symbols-outlined">location_on</span>123 Swaped St, Fashion City, 45678</p>
          <p class="footerOlegP"><span>If you are in a bad mood and want to shit on someone: </span><a href="https://t.me/@oleg" target="_blank">@oleg</a></p>
        </section>
      </article>
    </footer>
    <script src="{% static 'js/messages.js' %}"></script>
    <script src="{% static 'js/burger.js' %}"></script>
  </body>
</html>
