{% extends "base.html" %}
{% block content %}
<article class="LoginArticle">
    <h1 class="mainTitle">Login</h1>
    <section>
        <form method="post">
            {% csrf_token %}
            <label for="id_username">
            <span>Username</span>
            {{ form.username }}
            </label>
            <label for="id_password">
            <span>Password</span>
            {{ form.password }}
            </label>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'registration' %}">Register</a></p>
    </section>
</article>
{% endblock %}