{% extends "base.html" %}
{% load static %}
{% block title %}
Profile
{% endblock %}
{% block content %}
<article class="profileInfoArticle">
    <h1 class="mainTitle">User Profile</h1>
    <section class="profileInfoSection">
      <h2>Hi, {{ user.username }}</h2>
      <p><span class="material-symbols-outlined">mail</span>{{ user.email }}</p>
      <p><span class="material-symbols-outlined">calendar_today</span>{{ user.date_joined }}</p>
      <p><span class="material-symbols-outlined">account_balance_wallet</span>{{ user.wallet }} Kč</p>
    </section>
</article>
<div class="profileTabsDiv">
    <button id="salles" onclick="showTab('salles')" class="activeTab">My salles</button>
    <button id="orders" onclick="showTab('orders')">My orders</button>
</div>
<div id="ordersTab" style="display: none;">
    <h1 class="mainTitle">Orders</h1>
    <div class="product-list">
        {% for purchase in purchases %}
            <div class="product">
                {% if purchase.status == 'shipped' %}
                <a href="{% url 'confirm_delivery' purchase.id %}">
                    <img class="product-image" src="{{ purchase.product.image.url }}" alt="{{ purchase.product.name }}">
                </a>
                {% else %}
                <img class="product-image" src="{{ purchase.product.image.url }}" alt="{{ purchase.product.name }}">
                {% endif %}
                <div class="productDetails">
                    <span>{{ purchase.product.brand }}</span>
                    <span>{{ purchase.product.size }} - {{ purchase.product.condition }}</span>
                    <span class="productDetailsPrice">{{ purchase.product.price }} Kč</span>
                    {% if purchase.status == 'paid' %}
                        <span class="badge" style="color: red;">Waiting for Shipment</span>
                    {% elif purchase.status == 'shipped' %}
                        <span class="badge" style="color: orange;">Waiting for Buyer Confirmation</span>
                        <a href="{% url 'confirm_delivery' purchase.id %}">Confirm Delivery</a>
                    {% elif purchase.status == 'delivered' %}
                        <span class="badge" style="color: green;">Completed</span>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>No orders yet.</p>
        {% endfor %}
    </div>
</div>
<div id="sallesTab">
    <h1 class="mainTitle">Salles</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product">
                <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="productDetails">
                    <span>{{ product.brand }}</span>
                    <span>{{ product.size }} - {{ product.condition }}</span>
                    <span class="productDetailsPrice">{{ product.price }} Kč</span>
                    {% if product.purchase_set.all %}
                        {% for purchase in product.purchase_set.all %}
                            {% if purchase.status == 'paid' %}
                                <span class="badge" style="color: red;">Waiting for Shipment</span>
                                <a href="{% url 'confirm_shipment' purchase.id %}">Confirm Shipment</a>
                            {% elif purchase.status == 'shipped' %}
                                <span class="badge" style="color: orange;">Waiting for Buyer Confirmation</span>
                            {% elif purchase.status == 'delivered' %}
                                <span class="badge" style="color: green;">Completed</span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <span class="badge">Not Purchased</span>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>No products yet.</p>
        {% endfor %}
    </div>
</div>
<script src="{% static 'js/profile_product_tabs.js' %}"></script>
{% endblock %}
