{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<article class="registrationArticle">
    <h1 class="mainTitle">Registration Page</h1>
    <section>
        <p>Please fill in the form to register.</p> 
        <form method="post">
            {% csrf_token %}
            <label for="id_username">
                <span>Username</span>
                {{ form.username }}
            </label>
            <label for="id_email">
                <span>Email</span>
                {{ form.email }}
            </label>
            <label for="id_password1">
                <span>Password</span>
                {{ form.password1 }}
            </label>
            <label for="id_password2">
                <span>Confirm Password</span>
                {{ form.password2 }}
            </label>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </section>
</article>
{% endblock %}