@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

a,
button {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  font-size: 1em;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.registrationArticle {
  width: 60%;
  margin: 95px auto 10px auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
}
.registrationArticle h1 {
  color: #177d8a;
}
.registrationArticle section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.registrationArticle section form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.registrationArticle section form button {
  margin: 0 auto;
  width: 100%;
  background-color: #177d8a;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 1em;
}
.registrationArticle section form button:hover {
  background-color: #0e646f;
  cursor: pointer;
}
.registrationArticle section form label {
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8f8f8;
}
.registrationArticle section form label input {
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1em;
  background-color: #fff;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navBar,
.navCategories {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  height: 40px;
  width: auto;
}

.navLeft {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20%;
}
.navLeft li a {
  font-size: 1em;
  color: #333;
}
.navLeft li a:hover {
  color: #007bff;
}

.navRight {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navRight li a {
  font-size: 1em;
  color: #333;
}
.navRight li a:hover {
  color: #007bff;
}
.navRight .navSearchInput {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.navRight .navSearchInput input {
  width: 100%;
}
.navRight .burgerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.navBar {
  padding: 20px 10% 10px 10%;
}

.navCategories {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  z-index: 999;
}
.navCategories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}
.navCategories ul li {
  width: 100%;
  height: 100%;
  text-align: center;
}
.navCategories ul li:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}
.navCategories ul li a {
  padding: 15px 20px;
  display: block;
  width: 100%;
  height: 100%;
}

.logoutBurgerButton {
  width: 100%;
  padding: 15px 30px;
  background: none;
  color: #177d8a;
  border: none;
  border-radius: 0;
  font-size: 1.1em;
  font-family: inherit;
  cursor: pointer;
  text-align: left;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.logoutBurgerButton:hover {
  background: #f0f0f0;
  color: #145e6b;
}

.navSearchInput {
  width: 100%;
}
.navSearchInput input {
  width: 100%;
  padding: 8px;
  border: 0px;
  border-radius: 4px;
  font-size: 1em;
  background-color: #e9efef;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.headerImageDiv {
  margin-top: 126px;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.headerImageOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px 20px 20px;
  width: 400px;
  height: 250px;
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: rgba(26, 26, 26, 0.5);
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
          box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
}
.headerImageOverlay h1 {
  font-size: 1.5em;
  color: #333;
  margin: 0;
  text-align: left;
}
.headerImageOverlay span {
  font-size: 1em;
  color: grey;
  text-align: left;
}

.headerImageOverlayTextDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.headerImageOverlayButtonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.startSellingButton {
  text-wrap: nowrap;
  padding: 15px 138px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
          box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
  background-color: #0e646f;
  color: #fff;
}

.headerImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainTitle {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
  font-weight: 400;
  color: #333;
}

.product-image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: block;
  margin: 0 auto 10px auto;
}

.productDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 0 10px;
  font-size: 0.9em;
  color: grey;
}

.productDetailsPrice {
  margin-top: 10px;
  color: #177d8a;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product {
  width: 260px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
          box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  grid-area: auto;
}

.cartContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: 115px auto 40px auto;
  background: #fff;
}

.productCartImageDiv,
.productCartDetailsDiv {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  min-width: 400px;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 400px;
  max-height: 500px;
}

.productCartImage {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain; /* сохраняет пропорции, не обрезает */
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: block;
}

.productCartDetails {
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  min-width: 360px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
          box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
}

hr {
  border: 0;
  height: 2px;
  background: #cddce0;
}

.productCartInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.productCartInfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.productCartInfo div span {
  font-size: 0.9em;
  color: #555;
}

.checkout {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.checkout:hover {
  background-color: #218838;
}

.addProductDiv {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px;
}

.addProductForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 70%;
}

.formDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
          box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}
.formDiv input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}
.formDiv select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.noProductsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.2em;
  color: #777;
  margin: 40px 0;
  padding: 40px;
  border-radius: 8px;
  width: 60%;
  height: 80px;
  -webkit-box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
          box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
  background-color: #f9f9f9;
}

.profileInfoArticle {
  margin-top: 75px;
  padding: 15px 10%;
}

.profileInfoSection {
  padding: 20px;
  -webkit-box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
          box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.profileInfoSection p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-symbols-outlined {
  margin-right: 10px;
  color: #177d8a;
}

.profileTabsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
          box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
  margin: 30px auto;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.profileTabsDiv button {
  padding: 15px;
  width: 50%;
  height: 100%;
}
.profileTabsDiv button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.profileTabsDiv button:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.profileTabsDiv button:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.activeTab {
  border-bottom: 2px solid #177d8a;
  background-color: #fff;
  color: #177d8a;
  font-weight: bold;
}

.popupMessage {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #4bb543;
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 15px;
  opacity: 0.95;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.openedImageWindow {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.openedImageContent {
  display: block;
  margin: 40px auto;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 30px;
  right: 20px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2100;
}

footer {
  width: 85%;
  margin: 0 auto;
  padding: 20px 50px;
}
footer article {
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
footer article section p {
  max-width: 400px;
  color: #777;
}
footer article section h3 {
  color: #177d8a;
  margin-bottom: 20px;
}

.contactUsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerP {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footerOlegP span {
  max-width: 20px;
}

.material-symbols-outlined-nav {
  display: none;
}

.addProductButton {
  margin: 0 auto;
  width: 100%;
  background-color: #177d8a;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 1em;
}
.addProductButton:hover {
  background-color: #0e646f;
  cursor: pointer;
}

.LoginArticle {
  width: 60%;
  margin: 95px auto 10px auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
}
.LoginArticle h1 {
  color: #177d8a;
}
.LoginArticle section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.LoginArticle section form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.LoginArticle section form button {
  margin: 0 auto;
  width: 100%;
  background-color: #177d8a;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 1em;
}
.LoginArticle section form button:hover {
  background-color: #0e646f;
  cursor: pointer;
}
.LoginArticle section form label {
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8f8f8;
}
.LoginArticle section form label input {
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1em;
  background-color: #fff;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.logoutButton,
.profileButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-size: 1em;
}
.logoutButton:hover,
.profileButton:hover {
  cursor: pointer;
}
.logoutButton span,
.profileButton span {
  scale: 1.2;
}

.checkoutArticle {
  margin: 95px auto 10px auto;
  width: 60%;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 20px 50px;
}
.checkoutArticle section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkoutArticle section form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.checkoutArticle section form button {
  margin: 0 auto;
  width: 100%;
  background-color: #177d8a;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 1em;
}
.checkoutArticle section form button:hover {
  background-color: #0e646f;
  cursor: pointer;
}
.checkoutArticle section form label {
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8f8f8;
}
.checkoutArticle section form label input {
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1em;
  background-color: #fff;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sellerConfirmationDiv,
.buyerConfirmationDiv {
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
          box-shadow: 0 2px 8px rgba(123, 89, 89, 0.08);
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 60%;
}

.confirmShipmentBtn,
.confirmDeliveryBtn {
  margin: 20px auto;
  width: 100%;
  background-color: #177d8a;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 1em;
}
.confirmShipmentBtn:hover,
.confirmDeliveryBtn:hover {
  background-color: #0e646f;
  cursor: pointer;
}

.burger-checkbox {
  display: none;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 1101;
}
.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #177d8a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.burger span:nth-of-type(1) {
  top: 0;
}
.burger span:nth-of-type(2) {
  top: 13px;
}
.burger span:nth-of-type(3) {
  top: 26px;
}

.droppedList {
  position: fixed;
  top: 75px;
  right: 0;
  width: 70vw;
  max-width: 300px;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px 0 0 8px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 1099;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}
.droppedList li {
  width: 100%;
}
.droppedList li a,
.droppedList li img {
  display: block;
  padding: 15px 30px;
  color: #177d8a;
  font-size: 1.1em;
}
.droppedList li a:hover,
.droppedList li img:hover {
  background: #f0f0f0;
}
.droppedList li.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 10px 30px;
}
.droppedList li.icons img {
  padding: 0;
  width: 24px;
  height: 24px;
}

.burger-checkbox:checked + .burger span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
}

.burger-checkbox:checked + .burger span:nth-of-type(2) {
  opacity: 0;
}

.burger-checkbox:checked + .burger span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
}

.burger-checkbox:checked ~ .droppedList {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menuToggle {
  position: relative;
}

@media (max-width: 700px) {
  .navCategories {
    top: 65px;
  }
  .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    padding: 10px 5%;
  }
  .navLeft {
    gap: 10px;
    width: 100%;
  }
  .navLeft li a {
    font-size: 1em;
  }
  .navRight {
    display: none;
  }
  .logoutButton {
    padding: 13.5px;
  }
  .LoginArticle {
    width: 90%;
    padding: 20px;
  }
  .headerImageOverlay {
    width: 90%;
    height: auto;
    top: 10%;
    left: 5%;
    padding: 20px;
  }
  .headerImageOverlay span {
    margin-bottom: 50px;
  }
  .headerImageOverlay h1 {
    font-size: 1.2em;
  }
  .headerImageOverlay span {
    font-size: 0.9em;
  }
  .startSellingButton {
    padding: 10px 50px;
    font-size: 1em;
  }
  .addProductForm {
    width: 100%;
  }
  .material-symbols-outlined-nav {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    color: #177d8a;
    font-size: 1.2em;
  }
  footer {
    width: 100%;
    padding: 20px 10px;
  }
  footer article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  footer article section p {
    max-width: 100%;
  }
  .menuToggle .burger {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    margin-left: 10px;
  }
  .menuToggle .droppedList {
    top: 60px;
    right: 0;
    width: 70vw;
    max-width: 300px;
    border-radius: 8px 0 0 8px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    z-index: 1099;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 20px 0;
  }
  .menuToggle .burger-checkbox:checked ~ .droppedList {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .headerImageDiv {
    margin-top: 100px;
  }
}/*# sourceMappingURL=styles.css.map */